*.sqlite3
.idea
.DS*
__pycache__
env
/static/
.vscode/settings.json
.env
backend/database/mongo*


.empty
.vscode
.pytest_cache

# frontend
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*

# Docs 
docs/_*
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_10260263_file19.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_20203972_file15.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_21596516_file24.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_22821703_file20.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_27280338_file7.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_28089927_file18.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_35843101_file12.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_37829332_file9.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_42835204_file5.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_43136769_file17.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_43881541_file1.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_50977642_file14.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_62395052_file16.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_63582484_file22.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_72747658_file4.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_75257561_file11.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_78235540_file2.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_86888743_file21.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_88517804_file6.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_88853130_file13.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_89248456_file10.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_93203638_file3.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_93571200_file8.csv
backend/simulation_framework/simulation_data/frontend_developer_junior_ID_94678768_file23.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_15624133_file10.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_17738337_file13.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_18585825_file21.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_21667870_file9.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_25052776_file2.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_29770645_file20.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_31234904_file22.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_32163312_file8.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_36600118_file6.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_38609586_file17.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_40075312_file3.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_44340281_file18.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_53269122_file4.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_53421911_file14.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_55378523_file16.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_59093861_file1.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_70387782_file24.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_85269721_file15.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_85320633_file19.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_88734849_file5.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_89412899_file7.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_91049458_file23.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_91171864_file11.csv
backend/simulation_framework/simulation_data/junior_consultant_ID_96606254_file12.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_10399940_file13.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_19754930_file18.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_19818917_file14.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_20385413_file15.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_22066647_file5.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_22203266_file20.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_25552794_file21.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_26887676_file16.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_37165518_file4.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_45734922_file2.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_49178089_file9.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_51818136_file17.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_52269380_file3.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_52933207_file11.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_57512893_file23.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_63696635_file6.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_68132479_file22.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_68706217_file12.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_71018419_file19.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_75006864_file8.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_76490115_file7.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_77613851_file24.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_81177833_file1.csv
backend/simulation_framework/simulation_data/senior_consultant_ID_84685990_file10.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_10006123_file4.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_10295391_file16.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_27835095_file14.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_28211551_file6.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_29001674_file23.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_29875636_file20.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_32711895_file10.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_35812453_file18.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_39024377_file2.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_47964409_file17.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_49627712_file7.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_54753381_file3.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_57281258_file13.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_57677469_file21.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_64044388_file15.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_65899672_file5.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_66112682_file9.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_78405401_file22.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_83129551_file1.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_86124791_file11.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_86400877_file12.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_86632039_file24.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_87019420_file19.csv
backend/simulation_framework/simulation_data/technical_specialist_ID_90217178_file8.csv
backend/testparams.env
